In [51]:
# Get the data for expeirment
import sklearn
from sklearn.datasets import fetch_california_housing
import pandas as pd 
import glob
import os
from sklearn.model_selection import train_test_split

In [10]:
#source: https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/
#source: https://stackoverflow.com/questions/27749553/how-can-i-read-the-contents-of-all-the-files-in-a-directory-with-pandas
path = os.getcwd()
csv_files = glob.glob(os.path.join(path+'\Data\AB_wind_data', "*.csv"))

In [11]:
l = [pd.read_csv(file, encoding="ISO-8859-1") for file in csv_files]
df = pd.concat(l, axis=0)

C:\Users\PPL\AppData\Local\Temp\ipykernel_21476\1224870954.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(l, axis=0)

In [12]:
print(len(df['Station Name'].unique()))
print(df['Station Name'].unique())

62
['CAMROSE' 'CORONATION CLIMATE' 'EDMONTON CITY CENTRE AWOS'
 "EDMONTON INT'L A" 'EDMONTON INTERNATIONAL CS' 'EDMONTON BLATCHFORD'
 'EDMONTON NAMAO A' 'EDMONTON NAMAO AWOS A' 'EDMONTON INTL A'
 'EDMONTON STONY PLAIN' 'LLOYDMINSTER A' 'LLOYDMINSTER'
 'ROCKY MTN HOUSE (AUT)' 'VEGREVILLE' 'EDMONTON STONY PLAIN CS'
 'DRUMHELLER EAST' 'LACOMBE CDA 2' 'RED DEER A' 'RED DEER REGIONAL A'
 'SUNDRE A' 'BROOKS' 'CALGARY INTL A' "CALGARY INT'L A" "CALGARY INT'L CS"
 'CLARESHOLM' 'LETHBRIDGE' 'LETHBRIDGE A' 'LETHBRIDGE AWOS A'
 'LETHBRIDGE CDA' 'MEDICINE HAT' 'MEDICINE HAT A' 'MEDICINE HAT AWOS'
 'MEDICINE HAT RCS' 'PINCHER CREEK (AUT)' 'PINCHER CREEK CLIMATE'
 'STRATHMORE AGDM' 'SUFFIELD A' 'MILK RIVER' 'ONEFOUR CDA' 'BANFF CS'
 'BOW VALLEY' 'JASPER WARDEN' 'WHITECOURT A' 'EDSON' 'EDSON AWOS A'
 'EDSON CLIMATE' 'FORT MCMURRAY CS' 'FORT MCMURRAY A'
 'FORT MCMURRAY AWOS A' 'SLAVE LAKE' 'SLAVE LAKE RCS' 'SLAVE LAKE AWOS A'
 'WHITECOURT' 'FORT CHIPEWYAN' 'FORT CHIPEWYAN RCS'
 'FORT CHIPEWYAN AWOS A' 'GRANDE PRAIRIE A' 'HIGH LEVEL A' 'HIGH LEVEL'
 'PEACE RIVER A' 'RED EARTH' 'COLD LAKE A']

In [13]:
df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,Temp (ï¿½C),Dew Point Temp (ï¿½C)
0,-112.82,53.05,CAMROSE,3011240,2010-01-01 00:00,2010,1,1,00:00,-29.7,...,NaN,93.40,NaN,NaN,NaN,-40.0,NaN,NaN,NaN,NaN
1,-112.82,53.05,CAMROSE,3011240,2010-01-01 01:00,2010,1,1,01:00,-28.7,...,NaN,93.34,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
2,-112.82,53.05,CAMROSE,3011240,2010-01-01 02:00,2010,1,1,02:00,-29.6,...,NaN,93.30,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
3,-112.82,53.05,CAMROSE,3011240,2010-01-01 03:00,2010,1,1,03:00,-28.9,...,NaN,93.18,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
4,-112.82,53.05,CAMROSE,3011240,2010-01-01 04:00,2010,1,1,04:00,-28.9,...,NaN,93.08,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6163,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 19:00,2023,9,14,19:00,12.6,...,NaN,95.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6164,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 20:00,2023,9,14,20:00,9.9,...,NaN,95.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6165,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 21:00,2023,9,14,21:00,9.7,...,NaN,95.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6166,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 22:00,2023,9,14,22:00,8.8,...,NaN,95.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6167,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 23:00,2023,9,14,23:00,6.9,...,NaN,95.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.isnull().sum()

Longitude (x)                  0
Latitude (y)                   0
Station Name                   0
Climate ID                     0
Date/Time (LST)                0
Year                           0
Month                          0
Day                            0
Time (LST)                     0
Temp (°C)                 427350
Temp Flag                6021303
Dew Point Temp (°C)       478170
Dew Point Temp Flag      5977739
Rel Hum (%)               483698
Rel Hum Flag             5999972
Precip. Amount (mm)      3181795
Precip. Amount Flag      5825276
Wind Dir (10s deg)       1116264
Wind Dir Flag            5724564
Wind Spd (km/h)           709307
Wind Spd Flag            5773770
Visibility (km)          3738378
Visibility Flag          5904064
Stn Press (kPa)           922854
Stn Press Flag           5608539
Hmdx                     5781375
Hmdx Flag                6027940
Wind Chill               4222083
Wind Chill Flag          6027780
Weather                  5130052
Temp (ï¿½C)              6019314
Dew Point Temp (ï¿½C)    6019316
dtype: int64

In [15]:
col_to_use = {
    'Longitude (x)' : 'longitude',
    'Latitude (y)': 'latitude',
    'Station Name' : 'name',
    'Climate ID':'id',
    'Date/Time (LST)':'date',
    'Temp (°C)':'temp',
    #'Precip. Amount (mm)':'precip',
    'Wind Dir (10s deg)':'wind_direction',
    'Wind Spd (km/h)':'wind_speed'
}

In [27]:
null_mask = df['Wind Dir (10s deg)'].isnull()
null_rows = df[null_mask]

print(null_rows)

      Longitude (x)  Latitude (y) Station Name Climate ID   Date/Time (LST)  \
76          -112.82         53.05      CAMROSE    3011240  2010-01-04 04:00
96          -112.82         53.05      CAMROSE    3011240  2010-01-05 00:00
102         -112.82         53.05      CAMROSE    3011240  2010-01-05 06:00
103         -112.82         53.05      CAMROSE    3011240  2010-01-05 07:00
104         -112.82         53.05      CAMROSE    3011240  2010-01-05 08:00
...             ...           ...          ...        ...               ...
6110        -110.28         54.42  COLD LAKE A    3081680  2023-09-12 14:00
6115        -110.28         54.42  COLD LAKE A    3081680  2023-09-12 19:00
6121        -110.28         54.42  COLD LAKE A    3081680  2023-09-13 01:00
6123        -110.28         54.42  COLD LAKE A    3081680  2023-09-13 03:00
6124        -110.28         54.42  COLD LAKE A    3081680  2023-09-13 04:00

      Year Month Day Time (LST)  Temp (°C)  ... Visibility Flag  \
76    2010     1   4      04:00      -15.3  ...             NaN
96    2010     1   5      00:00      -19.3  ...             NaN
102   2010     1   5      06:00      -20.0  ...             NaN
103   2010     1   5      07:00      -20.1  ...             NaN
104   2010     1   5      08:00      -20.0  ...             NaN
...    ...   ...  ..        ...        ...  ...             ...
6110  2023     9  12      14:00       16.4  ...             NaN
6115  2023     9  12      19:00       15.0  ...             NaN
6121  2023     9  13      01:00       10.4  ...             NaN
6123  2023     9  13      03:00       10.5  ...             NaN
6124  2023     9  13      04:00        9.9  ...             NaN

      Stn Press (kPa) Stn Press Flag  Hmdx Hmdx Flag  Wind Chill  \
76              93.99            NaN   NaN       NaN         NaN
96              93.73            NaN   NaN       NaN         NaN
102             93.75            NaN   NaN       NaN         NaN
103             93.78            NaN   NaN       NaN         NaN
104             93.78            NaN   NaN       NaN         NaN
...               ...            ...   ...       ...         ...
6110            94.63            NaN   NaN       NaN         NaN
6115            94.56            NaN   NaN       NaN         NaN
6121            94.56            NaN   NaN       NaN         NaN
6123            94.59            NaN   NaN       NaN         NaN
6124            94.60            NaN   NaN       NaN         NaN

     Wind Chill Flag  Weather Temp (ï¿½C)  Dew Point Temp (ï¿½C)
76               NaN      NaN         NaN                    NaN
96               NaN      NaN         NaN                    NaN
102              NaN      NaN         NaN                    NaN
103              NaN      NaN         NaN                    NaN
104              NaN      NaN         NaN                    NaN
...              ...      ...         ...                    ...
6110             NaN      NaN         NaN                    NaN
6115             NaN      NaN         NaN                    NaN
6121             NaN      NaN         NaN                    NaN
6123             NaN      NaN         NaN                    NaN
6124             NaN      NaN         NaN                    NaN

[1116264 rows x 32 columns]

In [36]:
# Remove Nan for each column
dropped_df = df.dropna(subset=['Temp (°C)'])

In [38]:
dropped_df.isnull().sum()

Longitude (x)                  0
Latitude (y)                   0
Station Name                   0
Climate ID                     0
Date/Time (LST)                0
Year                           0
Month                          0
Day                            0
Time (LST)                     0
Temp (°C)                      0
Temp Flag                5600590
Dew Point Temp (°C)        53081
Dew Point Temp Flag      5554696
Rel Hum (%)                67879
Rel Hum Flag             5576360
Precip. Amount (mm)      2757410
Precip. Amount Flag      5398865
Wind Dir (10s deg)        701231
Wind Dir Flag            5299217
Wind Spd (km/h)           295398
Wind Spd Flag            5348240
Visibility (km)          3320657
Visibility Flag          5478233
Stn Press (kPa)           508449
Stn Press Flag           5183457
Hmdx                     5354446
Hmdx Flag                5600590
Wind Chill               3797799
Wind Chill Flag          5600430
Weather                  4704121
Temp (ï¿½C)              5600590
Dew Point Temp (ï¿½C)    5600590
dtype: int64

In [31]:
processed_df = dropped_df[col_to_use.keys()].copy()

In [32]:
processed_df = processed_df.rename(columns=col_to_use)

In [33]:
processed_df.to_csv('Data\processed_ab_wind_no_precip.txt', sep = ',', index = False)

In [34]:
data = pd.read_csv(f'Data\processed_ab_wind_no_precip.txt', encoding = "ISO-8859-1")

C:\Users\PPL\AppData\Local\Temp\ipykernel_21476\3824819627.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'Data\processed_ab_wind_no_precip.txt', encoding = "ISO-8859-1")

In [52]:
data.isnull().sum()

longitude         0
latitude          0
name              0
id                0
date              0
temp              0
wind_direction    0
wind_speed        0
dtype: int64

In [53]:
print(len(data['name'].unique()))
print(data['name'].unique())

62
['CAMROSE' 'CORONATION CLIMATE' 'EDMONTON CITY CENTRE AWOS'
 "EDMONTON INT'L A" 'EDMONTON INTERNATIONAL CS' 'EDMONTON BLATCHFORD'
 'EDMONTON NAMAO A' 'EDMONTON NAMAO AWOS A' 'EDMONTON INTL A'
 'EDMONTON STONY PLAIN' 'LLOYDMINSTER A' 'LLOYDMINSTER'
 'ROCKY MTN HOUSE (AUT)' 'VEGREVILLE' 'EDMONTON STONY PLAIN CS'
 'DRUMHELLER EAST' 'LACOMBE CDA 2' 'RED DEER A' 'RED DEER REGIONAL A'
 'SUNDRE A' 'BROOKS' 'CALGARY INTL A' "CALGARY INT'L A" "CALGARY INT'L CS"
 'CLARESHOLM' 'LETHBRIDGE' 'LETHBRIDGE A' 'LETHBRIDGE AWOS A'
 'LETHBRIDGE CDA' 'MEDICINE HAT' 'MEDICINE HAT A' 'MEDICINE HAT AWOS'
 'MEDICINE HAT RCS' 'PINCHER CREEK (AUT)' 'PINCHER CREEK CLIMATE'
 'STRATHMORE AGDM' 'SUFFIELD A' 'MILK RIVER' 'ONEFOUR CDA' 'BANFF CS'
 'BOW VALLEY' 'JASPER WARDEN' 'WHITECOURT A' 'EDSON' 'EDSON AWOS A'
 'EDSON CLIMATE' 'FORT MCMURRAY CS' 'FORT MCMURRAY A'
 'FORT MCMURRAY AWOS A' 'SLAVE LAKE' 'SLAVE LAKE RCS' 'SLAVE LAKE AWOS A'
 'WHITECOURT' 'FORT CHIPEWYAN' 'FORT CHIPEWYAN RCS'
 'FORT CHIPEWYAN AWOS A' 'GRANDE PRAIRIE A' 'HIGH LEVEL A' 'HIGH LEVEL'
 'PEACE RIVER A' 'RED EARTH' 'COLD LAKE A']

In [41]:
data = data.dropna(subset=['temp'])

In [42]:
data.to_csv('Data\processed_ab_wind_no_precip.csv', sep = ',', index = False)

In [45]:
grouped_data = data.groupby(['date', 'name']).size().unstack()

In [46]:
grouped_data

name,BANFF CS,BOW VALLEY,BROOKS,CALGARY INT'L A,CALGARY INT'L CS,CALGARY INTL A,CAMROSE,CLARESHOLM,COLD LAKE A,CORONATION CLIMATE,...,ROCKY MTN HOUSE (AUT),SLAVE LAKE,SLAVE LAKE AWOS A,SLAVE LAKE RCS,STRATHMORE AGDM,SUFFIELD A,SUNDRE A,VEGREVILLE,WHITECOURT,WHITECOURT A
date,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN
2010-01-01 01:00,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN
2010-01-01 02:00,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN
2010-01-01 03:00,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN
2010-01-01 04:00,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-14 19:00,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,2.0
2023-09-14 20:00,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,2.0
2023-09-14 21:00,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,2.0
2023-09-14 22:00,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0
2023-09-14 23:00,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,...,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0

In [47]:
grouped_data.isnull().sum().sort_values(ascending=1)

name
LETHBRIDGE CDA               1378
EDMONTON STONY PLAIN CS      3474
CORONATION CLIMATE           3736
STRATHMORE AGDM              3763
LLOYDMINSTER                 5066
                            ...
SLAVE LAKE AWOS A          108406
SUFFIELD A                 110476
LETHBRIDGE AWOS A          111462
MEDICINE HAT AWOS          114166
EDSON AWOS A               114550
Length: 62, dtype: int64

In [49]:
stations_to_use = [
    'LETHBRIDGE CDA',                 
    'EDMONTON STONY PLAIN CS',        
    'CORONATION CLIMATE',             
    'STRATHMORE AGDM',                
    'LLOYDMINSTER',                  
    'MEDICINE HAT RCS',             
    'MILK RIVER',                     
    'CAMROSE',                     
    'BROOKS',                    
    'CLARESHOLM',           
    'ONEFOUR CDA',            
    'VEGREVILLE',             
    'ROCKY MTN HOUSE (AUT)',         
    'LACOMBE CDA 2',              
    'BANFF CS',                     
    'DRUMHELLER EAST',         
    'MEDICINE HAT',                 
    'LETHBRIDGE',                 
    'EDMONTON INTL A',         
    'CALGARY INTL A',              
#     'SUNDRE A',                
#     'PINCHER CREEK CLIMATE',     
#     'BOW VALLEY',    
#     'EDMONTON NAMAO AWOS A',  
]

In [54]:
# With the station list above, select the nonnull row for the dates

filtered_data = data.loc[data['name'].isin(stations_to_use)]
filtered_data_grouped = filtered_data.groupby(['date', 'name']).size().unstack()

filtered_dates = filtered_data_grouped[~filtered_data_grouped.isnull().any(axis=1)].index

filtered_dates.shape

(38165,)

In [55]:
filtered_train_dates, filtered_test_dates = train_test_split(filtered_dates, test_size = 0.3)

In [56]:
filtered_train = data.loc[data['date'].isin(filtered_train_dates) & data['name'].isin(stations_to_use)]
filtered_test = data.loc[data['date'].isin(filtered_test_dates) & data['name'].isin(stations_to_use)]

filtered_train.to_csv('Data\processed_ab_wind_train.txt', sep = ',', index = False)
filtered_test.to_csv('Data\processed_ab_wind_test.txt', sep = ',', index = False)

In [58]:
# Double check if all data have no missing values
grouped_data = filtered_test.groupby(['date', 'name']).size().unstack()
grouped_data.isnull().sum().sort_values(ascending=1)

name
BANFF CS                   0
ROCKY MTN HOUSE (AUT)      0
ONEFOUR CDA                0
MILK RIVER                 0
MEDICINE HAT RCS           0
MEDICINE HAT               0
LLOYDMINSTER               0
LETHBRIDGE CDA             0
LETHBRIDGE                 0
LACOMBE CDA 2              0
EDMONTON STONY PLAIN CS    0
EDMONTON INTL A            0
DRUMHELLER EAST            0
CORONATION CLIMATE         0
CLARESHOLM                 0
CAMROSE                    0
CALGARY INTL A             0
BROOKS                     0
STRATHMORE AGDM            0
VEGREVILLE                 0
dtype: int64