In [3]:
# Get the data for expeirment
import sklearn
from sklearn.datasets import fetch_california_housing
import pandas as pd 
import glob
import os

In [2]:
#source: https://www.geeksforgeeks.org/how-to-read-all-csv-files-in-a-folder-in-pandas/
#source: https://stackoverflow.com/questions/27749553/how-can-i-read-the-contents-of-all-the-files-in-a-directory-with-pandas
path = os.getcwd()
csv_files = glob.glob(os.path.join(path+'\Data\AB_wind_data', "*.csv"))

In [3]:
l = [pd.read_csv(file, encoding="ISO-8859-1") for file in csv_files]
df = pd.concat(l, axis=0)

In [27]:
print(len(df['Station Name'].unique()))
print(df['Station Name'].unique())

62
['CAMROSE' 'CORONATION CLIMATE' 'EDMONTON CITY CENTRE AWOS'
 "EDMONTON INT'L A" 'EDMONTON INTERNATIONAL CS' 'EDMONTON BLATCHFORD'
 'EDMONTON NAMAO A' 'EDMONTON NAMAO AWOS A' 'EDMONTON INTL A'
 'EDMONTON STONY PLAIN' 'LLOYDMINSTER A' 'LLOYDMINSTER'
 'ROCKY MTN HOUSE (AUT)' 'VEGREVILLE' 'EDMONTON STONY PLAIN CS'
 'DRUMHELLER EAST' 'LACOMBE CDA 2' 'RED DEER A' 'RED DEER REGIONAL A'
 'SUNDRE A' 'BROOKS' 'CALGARY INTL A' "CALGARY INT'L A" "CALGARY INT'L CS"
 'CLARESHOLM' 'LETHBRIDGE' 'LETHBRIDGE A' 'LETHBRIDGE AWOS A'
 'LETHBRIDGE CDA' 'MEDICINE HAT' 'MEDICINE HAT A' 'MEDICINE HAT AWOS'
 'MEDICINE HAT RCS' 'PINCHER CREEK (AUT)' 'PINCHER CREEK CLIMATE'
 'STRATHMORE AGDM' 'SUFFIELD A' 'MILK RIVER' 'ONEFOUR CDA' 'BANFF CS'
 'BOW VALLEY' 'JASPER WARDEN' 'WHITECOURT A' 'EDSON' 'EDSON AWOS A'
 'EDSON CLIMATE' 'FORT MCMURRAY CS' 'FORT MCMURRAY A'
 'FORT MCMURRAY AWOS A' 'SLAVE LAKE' 'SLAVE LAKE RCS' 'SLAVE LAKE AWOS A'
 'WHITECOURT' 'FORT CHIPEWYAN' 'FORT CHIPEWYAN RCS'
 'FORT CHIPEWYAN AWOS A' 'GRANDE PRAIRIE A' 'HIGH LEVEL A' 'HIGH LEVEL'
 'PEACE RIVER A' 'RED EARTH' 'COLD LAKE A']

In [13]:
df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,Temp (ï¿½C),Dew Point Temp (ï¿½C)
0,-112.82,53.05,CAMROSE,3011240,2010-01-01 00:00,2010,1,1,00:00,-29.7,...,NaN,93.40,NaN,NaN,NaN,-40.0,NaN,NaN,NaN,NaN
1,-112.82,53.05,CAMROSE,3011240,2010-01-01 01:00,2010,1,1,01:00,-28.7,...,NaN,93.34,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
2,-112.82,53.05,CAMROSE,3011240,2010-01-01 02:00,2010,1,1,02:00,-29.6,...,NaN,93.30,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
3,-112.82,53.05,CAMROSE,3011240,2010-01-01 03:00,2010,1,1,03:00,-28.9,...,NaN,93.18,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
4,-112.82,53.05,CAMROSE,3011240,2010-01-01 04:00,2010,1,1,04:00,-28.9,...,NaN,93.08,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6163,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 19:00,2023,9,14,19:00,12.6,...,NaN,95.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6164,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 20:00,2023,9,14,20:00,9.9,...,NaN,95.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6165,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 21:00,2023,9,14,21:00,9.7,...,NaN,95.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6166,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 22:00,2023,9,14,22:00,8.8,...,NaN,95.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6167,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 23:00,2023,9,14,23:00,6.9,...,NaN,95.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isnull().sum()

Longitude (x)                  0
Latitude (y)                   0
Station Name                   0
Climate ID                     0
Date/Time (LST)                0
Year                           0
Month                          0
Day                            0
Time (LST)                     0
Temp (°C)                 427350
Temp Flag                6021303
Dew Point Temp (°C)       478170
Dew Point Temp Flag      5977739
Rel Hum (%)               483698
Rel Hum Flag             5999972
Precip. Amount (mm)      3181795
Precip. Amount Flag      5825276
Wind Dir (10s deg)       1116264
Wind Dir Flag            5724564
Wind Spd (km/h)           709307
Wind Spd Flag            5773770
Visibility (km)          3738378
Visibility Flag          5904064
Stn Press (kPa)           922854
Stn Press Flag           5608539
Hmdx                     5781375
Hmdx Flag                6027940
Wind Chill               4222083
Wind Chill Flag          6027780
Weather                  5130052
Temp (ï¿½C)              6019314
Dew Point Temp (ï¿½C)    6019316
dtype: int64

In [6]:
col_to_use = {
    'Longitude (x)' : 'longitude',
    'Latitude (y)': 'latitude',
    'Station Name' : 'name',
    'Climate ID':'id',
    'Date/Time (LST)':'date',
    'Temp (°C)':'temp',
    'Precip. Amount (mm)':'precip',
    'Wind Dir (10s deg)':'wind_direction',
    'Wind Spd (km/h)':'wind_speed'
}

In [8]:
null_mask = df['Wind Spd (km/h)'].isnull()
null_rows = df[null_mask]

print(null_rows)

['CAMROSE' 'CORONATION CLIMATE' 'EDMONTON CITY CENTRE AWOS'
 "EDMONTON INT'L A" 'EDMONTON INTERNATIONAL CS' 'EDMONTON BLATCHFORD'
 'EDMONTON NAMAO A' 'EDMONTON NAMAO AWOS A' 'EDMONTON INTL A'
 'EDMONTON STONY PLAIN' 'LLOYDMINSTER A' 'LLOYDMINSTER'
 'ROCKY MTN HOUSE (AUT)' 'VEGREVILLE' 'EDMONTON STONY PLAIN CS'
 'DRUMHELLER EAST' 'LACOMBE CDA 2' 'RED DEER A' 'RED DEER REGIONAL A'
 'SUNDRE A' 'BROOKS' 'CALGARY INTL A' "CALGARY INT'L A" "CALGARY INT'L CS"
 'CLARESHOLM' 'LETHBRIDGE' 'LETHBRIDGE A' 'LETHBRIDGE AWOS A'
 'LETHBRIDGE CDA' 'MEDICINE HAT' 'MEDICINE HAT A' 'MEDICINE HAT AWOS'
 'MEDICINE HAT RCS' 'PINCHER CREEK (AUT)' 'PINCHER CREEK CLIMATE'
 'STRATHMORE AGDM' 'SUFFIELD A' 'MILK RIVER' 'ONEFOUR CDA' 'BANFF CS'
 'BOW VALLEY' 'JASPER WARDEN' 'WHITECOURT A' 'EDSON' 'EDSON AWOS A'
 'EDSON CLIMATE' 'FORT MCMURRAY CS' 'FORT MCMURRAY A'
 'FORT MCMURRAY AWOS A' 'SLAVE LAKE' 'SLAVE LAKE RCS' 'SLAVE LAKE AWOS A'
 'WHITECOURT' 'FORT CHIPEWYAN' 'FORT CHIPEWYAN RCS'
 'FORT CHIPEWYAN AWOS A' 'GRANDE PRAIRIE A' 'HIGH LEVEL A' 'HIGH LEVEL'
 'PEACE RIVER A' 'RED EARTH' 'COLD LAKE A']

In [9]:
dropped_df = df.dropna(subset=['Wind Spd (km/h)'])

In [11]:
dropped_df

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,Temp (ï¿½C),Dew Point Temp (ï¿½C)
0,-112.82,53.05,CAMROSE,3011240,2010-01-01 00:00,2010,1,1,00:00,-29.7,...,NaN,93.40,NaN,NaN,NaN,-40.0,NaN,NaN,NaN,NaN
1,-112.82,53.05,CAMROSE,3011240,2010-01-01 01:00,2010,1,1,01:00,-28.7,...,NaN,93.34,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
2,-112.82,53.05,CAMROSE,3011240,2010-01-01 02:00,2010,1,1,02:00,-29.6,...,NaN,93.30,NaN,NaN,NaN,-41.0,NaN,NaN,NaN,NaN
3,-112.82,53.05,CAMROSE,3011240,2010-01-01 03:00,2010,1,1,03:00,-28.9,...,NaN,93.18,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
4,-112.82,53.05,CAMROSE,3011240,2010-01-01 04:00,2010,1,1,04:00,-28.9,...,NaN,93.08,NaN,NaN,NaN,-42.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6163,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 19:00,2023,9,14,19:00,12.6,...,NaN,95.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6164,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 20:00,2023,9,14,20:00,9.9,...,NaN,95.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6165,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 21:00,2023,9,14,21:00,9.7,...,NaN,95.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6166,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 22:00,2023,9,14,22:00,8.8,...,NaN,95.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6167,-110.28,54.42,COLD LAKE A,3081680,2023-09-14 23:00,2023,9,14,23:00,6.9,...,NaN,95.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
processed_df = dropped_df[col_to_use.keys()].copy()

In [13]:
processed_df = processed_df.rename(columns=col_to_use)

In [14]:
processed_df.to_csv('Data\processed_ab_wind.txt', sep = ',', index = False)

In [4]:
data = pd.read_csv(f'Data\processed_ab_wind.txt', encoding = "ISO-8859-1")

C:\Users\PPL\AppData\Local\Temp\ipykernel_61360\3705594621.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'Data\processed_ab_wind.txt', encoding = "ISO-8859-1")

In [10]:
data.isnull().sum()

longitude         0
latitude          0
name              0
id                0
date              0
temp              0
precip            0
wind_direction    0
wind_speed        0
dtype: int64

In [11]:
data

,longitude,latitude,name,id,date,temp,precip,wind_direction,wind_speed
34525,-112.82,53.05,CAMROSE,3011240,2013-12-10 16:00,-21.6,0.0,24.0,6.0
34526,-112.82,53.05,CAMROSE,3011240,2013-12-10 17:00,-20.9,0.0,19.0,6.0
34527,-112.82,53.05,CAMROSE,3011240,2013-12-10 18:00,-21.4,0.0,19.0,9.0
34528,-112.82,53.05,CAMROSE,3011240,2013-12-10 19:00,-22.5,0.0,15.0,10.0
34529,-112.82,53.05,CAMROSE,3011240,2013-12-10 20:00,-21.3,0.0,16.0,13.0
...,...,...,...,...,...,...,...,...,...
5197622,-115.28,56.55,RED EARTH,3075488,2023-07-21 07:00,13.9,0.3,13.0,4.0
5197623,-115.28,56.55,RED EARTH,3075488,2023-07-21 08:00,17.0,0.3,13.0,1.0
5197625,-115.28,56.55,RED EARTH,3075488,2023-07-21 10:00,22.6,0.0,21.0,2.0
5197626,-115.28,56.55,RED EARTH,3075488,2023-07-21 11:00,24.1,0.0,28.0,3.0
5197627,-115.28,56.55,RED EARTH,3075488,2023-07-21 12:00,25.2,0.0,1.0,5.0

In [28]:
print(len(data['name'].unique()))
print(data['name'].unique())

39
['CAMROSE' 'CORONATION CLIMATE' 'EDMONTON INTERNATIONAL CS'
 'EDMONTON BLATCHFORD' 'LLOYDMINSTER' 'ROCKY MTN HOUSE (AUT)' 'VEGREVILLE'
 'EDMONTON STONY PLAIN CS' 'DRUMHELLER EAST' 'LACOMBE CDA 2'
 'RED DEER REGIONAL A' 'SUNDRE A' 'BROOKS' "CALGARY INT'L CS" 'CLARESHOLM'
 'LETHBRIDGE' 'LETHBRIDGE CDA' 'MEDICINE HAT' 'MEDICINE HAT RCS'
 'PINCHER CREEK CLIMATE' 'STRATHMORE AGDM' 'MILK RIVER' 'ONEFOUR CDA'
 'BANFF CS' 'BOW VALLEY' 'JASPER WARDEN' 'WHITECOURT A' 'EDSON'
 'EDSON CLIMATE' 'FORT MCMURRAY CS' 'FORT MCMURRAY A' 'SLAVE LAKE'
 'SLAVE LAKE RCS' 'WHITECOURT' 'FORT CHIPEWYAN' 'FORT CHIPEWYAN RCS'
 'HIGH LEVEL A' 'HIGH LEVEL' 'RED EARTH']

In [9]:
data = data.dropna(subset=['precip'])

In [12]:
data.to_csv('Data\processed_ab_wind.csv', sep = ',', index = False)